#main {
  max-width: 100%;
  height: 100%;
}

#reservation {
  position: absolute;
  top: 381.5px;
  right: 224px;
  z-index: 1000;
  pointer-events: none;
}

#reviews {
  padding-top: 10px;
}

.footer-ss {
  position: relative;
  height: 100%;
  margin-top: 50px;
  padding: 0;
  z-index: 9000;
}

.footer-ss img {
  max-height: 100%;
  max-width: 100%;
}